<div class="crop-container">
  <div *ngIf="showLoader" id="loader"></div>
  <div #cropArea>
    <img class="crop-image" #cropImage [src]="imageSrc" (dragstart)="noop()" />
    <div class="cropper" #cropper (dragstart)="noop()">
      <div
        class="cropper__rect"
        #cropperDragElement
        (mousedown)="dragCropper($event, 'move')"
        (dragstart)="noop()"
      >
        <span class="resize topleft"><span class="square"></span></span>
        <span class="resize top"><span class="square"></span></span>
        <span class="resize topright"><span class="square"></span></span>
        <span class="resize right"><span class="square"></span></span>
        <span class="resize bottomright"><span class="square"></span></span>
        <span class="resize bottom"><span class="square"></span></span>
        <span class="resize bottomleft"><span class="square"></span></span>
        <span class="resize left"><span class="square"></span></span>
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <div class="row">
    <div class="col-4">
      <span style="border: 1px dashed red;display: inline-block;">
        <img class="img-fluid" [src]="outputImage" />
      </span>
    </div>
  </div>
</div> -->
<div>
  <button
    class="btn btn-primary"
    [disabled]="!outputImage"
    (click)="downloadImage()"
  >
    Download
  </button>
</div>
