<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-2">
      <label class="btn btn-primary">
        Select file
        <input
          [hidden]="true"
          type="file"
          (change)="onChangeFile($event)"
          accept="image/jpeg,image/png,image/gif"
        />
      </label>
    </div>
    <div class="col-10">
      <div class="card mt-5">
        <div class="card-body">
          <ngx-cropper [fileChangedEvent]="fileChangedEvent" [aspectRatio]="1">
          </ngx-cropper>
        </div>
      </div>
    </div>
  </div>
</div>
